altair
attrs
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
colorama
confection
cryptography
cymem
decorator
docx2txt
entrypoints
gitdb
GitPython
idna
importlib-metadata
Jinja2
joblib
jsonschema
langcodes
markdown-it-py
MarkupSafe
mdurl
murmurhash
nltk
packaging
pathy
pdfminer.six
pdfplumber
Pillow
preshed
protobuf
pyarrow
pycparser
pydantic
pydeck
Pygments
Pympler
PyPDF2
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
regex
requests
rich
scikit-learn
scipy
semver
six
smart-open
smmap
spacy
spacy-legacy
spacy-loggers
srsly
streamlit
thinc
threadpoolctl
toml
toolz
tornado
tqdm
typer
typing_extensions
tzdata
tzlocal
urllib3
validators
Wand
wasabi
watchdog
zipp
